body{
    color: white;
    background-color: rgb(167, 133, 133);
    font-family: sans-serif, Arial, Helvetica;
}

/*header{
    font-size: x-large;
    align-items: right;
    display: flex;

}



.logo{
    margin-top: 10px;
    font-size: large;
}

*/

.main-nav{
    display: flex;
    align-items: center;
    background-color: rgb(187, 48, 48);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.header-ul{
}

.header-ul li{
    display: inline-flex;
    padding-left: 20px;
    font-size: 25px;
    color:cornsilk;
}

.header-ul li a{
    text-decoration: none;
}

.header-ul li a:hover{
    color: rgb(23, 20, 20);
    background-color: darkgoldenrod;
    border-radius: 10%;
    padding:6px;
}
img{
    width: 300px;
    height: 350px;
    border-radius: 35px;
}

#pictures{
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

#footer{
    text-align: center;
    color: red;
}

